<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Retrouvez toute la mode des ours en peluche faits main sur Orinoco.">
    <meta name="description" content="Orinoco, vente d'ours en peluche faits main, fabrication d'ours en peluche">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
    <!--Personal CSS-->
    <link rel="stylesheet" href="/front-end/css/style.css">
    <!--favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/26697731b2.js" crossorigin="anonymous"></script>
    <!--Police-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama&display=swap" rel="stylesheet">
    <title>Votre Page Produit - Orinoco, achetez vos ours en peluche faits main chez nous.</title>
  </head>
  <body>

    <div class="container">
      <!-- Nav Bar Heading -->
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand me-5" href="#"><span class="fs-1 fw-bold text-light">Orinoco</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active fw-bold fs-5 text-light" aria-current="page" href="/front-end/view/home/index.html">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold fs-5 text-light" href="#">Contact</a>
                </li>
              </ul>
              <div class="list-group list-group-horizontal mt-3 mt-md-0">
                <a href="#" class="list-group-item list-group-item-action list-group-item-success text-center d-flex flex-column justify-content-around"><i class="fas fa-user"></i>Compte</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success text-center d-flex flex-column justify-content-around"><i class="fas fa-shopping-cart"></i>Panier</a>
              </div>
            </div>
          </div>
      </nav>
  </header>

  <main class="container">
    <section id="hero">
      <h1 class="text-center">Les ours en peluches faits main</h1>
    </section>  
    <section id="product_card">
    </section>
  </main>
  
  <footer class="d-md-flex justify-content-around bg-secondary p-2">
    <section class="bg-primary p-2 mt-5">
      <h2 class="text-center text-light">Service Client</h2>
      <ul class="list-unstyled">
        <li>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fas fa-wallet me-2"></i>
            <p>Paiement et livraison</p>
          </a>
        </li>
        <li>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="far fa-file-alt me-2"></i>
            <p>Conditions générales de ventes</p>
          </a>
        </li>
        <li>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fas fa-user me-2"></i>
            <p>Mon compte</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="bg-primary p-2 mt-5">
      <h2 class="text-center text-light">Contactez-nous</h2>
      <ul class="list-unstyled">
        <li>
          <a class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fas fa-map-marker-alt me-2"></i>
            <p>16 rue du Tourmalet, 31240 L'Union</p>
          </a>
        </li>
        <li>
          <a href="tel:+33749284152" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fas fa-mobile-alt me-2"></i>
            <p>Tel. : 07.49.28.41.52</p>
          </a>
        </li>
        <li>
          <a href="mailto:servicesconso@orinoco.fr" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="far fa-envelope me-2"></i>
            <p>servicesconso@orinoco.fr</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="bg-primary p-2 mt-5">
      <h2 class="text-center text-light">Suivez-nous</h2>
      <ul class="list-unstyled">
        <li>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fab fa-facebook-square me-2"></i>
            <p>Facebook</p>
          </a>
        </li>
        <li>  
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-baseline">
            <i class="fab fa-instagram-square me-2"></i>
            <p>Instagram</p>
          </a>
        </li>
      </ul>
    </section>
  </footer>

    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!--Script-->
    <script src="/front-end/view/product/product.js"></script>
    
  </body>
</html>